@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");

:root {
  --gray: #373737;
  --green: #35c12b;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  color: #222;
}

/* Navbar */
.navbar {
  background-color: var(--gray);
}

.navbar-nav li {
  padding-right: 20px;
  margin-left: 30px;
}

.navbar-nav li :hover {
  color: var(--green);
}

.nav-link {
  font-size: 1.1em;
  color: white;
}

.active {
  color: var(--green);
}

.btn-outline-success {
  background-color: var(--green);
}
/* ----- */

.carousel-inner img {
  width: 100%;
  height: 100%;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.banner {
  background: url(https://www.gardendesign.com/pictures/images/973x490Exact_0x58/site_3/colorful-flowers-terraced-hillside-garden-design_11850.jpg);
  color: white;
  margin-top: 50px;
  text-align: center;
  padding: 50px 0;
}

.contact-heading {
  font-size: 100px;
  font-weight: bold;
}

.social-media {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: var(--green);
  color: white;
}

.social-heading {
  font-weight: bold;
}

.newsletter {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 10px;
  background-color: rgb(77, 74, 74);
  color: white;
}

#mc_embed_signup{
  text-align: center;
  background-color: rgb(77, 74, 74);
  color: white;
  padding-bottom: 25px;
}

.map {
  text-align: center;
  padding-bottom: 25px;
}

footer {
  background-color: #3f3f3f;
  color: #d5d5d5;
  padding-top: 2rem;
}

.list-unstyled li a {
  text-decoration: none;
  color: #d5d5d5;
}

.list-unstyled li a:hover {
  text-decoration: underline;
}

.bg-transparent {
  background-color: rgba(0, 0, 0, 0) !important;
}

.border-dark {
  background-color: #d5d5d5 !important;
}

.border-end-0 {
  border-right: 0;
}
