@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");

:root {
  --gray: #373737;
  --green: #35c12b;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  color: #222;
}

/* Navbar */
.navbar {
  background-color: var(--gray);
}

.navbar-nav li {
  padding-right: 20px;
  margin-left: 30px;
}

.navbar-nav li :hover {
  color: var(--green)
}

.nav-link {
  font-size: 1.1em;
  color: white;
}

.active {
  color: var(--green) !important;
}
/* ----- */

.carousel-inner img {
  width: 100%;
  height: 100%;
}


.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.banner {
  background: url(https://www.gardendesign.com/pictures/images/973x490Exact_0x58/site_3/colorful-flowers-terraced-hillside-garden-design_11850.jpg);
  color: white;
  margin-top: 50px;
  text-align: center;
  padding: 50px 0;
}


/* contact form */
.contact-heading {
  font-size: 650%;
  font-weight: bold;
}

.contact-form{
  display: block;
  align-items: center;
  text-align: center;
  background-color: whitesmoke;
}


/* social media */
.social-media {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: var(--green);
  color: white;
}

.social-heading {
  font-weight: bold;
}

.instagram-post{
  text-align: center;
}

.posts{
  display: inline-block;
}



/* Newsletter */

.newsletter {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 25px;
  background-color: rgb(77, 74, 74);
  color: white;
}

.feild{
  text-align: center;
  margin: auto;
  padding: 10px;
  font-size: 120%;
}

/* Map */
.map {
  text-align: center;
  padding-top: 25px;
}

/* Footer */
footer {
  background-color: var(--gray);
  color: #d5d5d5;
  padding-top: 2rem;
}

.footer-img{
  width: 70%;
  margin-top: 5%;
}

@media screen and (max-width: 700px){  
  .footer-img{
    width: 50%;
  }
}

.list-unstyled li{
  padding-top: 8%;
}

.list-unstyled li a {
  text-decoration: none;
  color: white;
}
.list-unstyled li a:hover {
  color: var(--green);
}

.list-inline-item img {
  width: 25%;
}

.col-lg-4 h6{
  color: white;
  font: 15px;
}

.bg-transparent {
  background-color: rgba(0, 0, 0, 0) !important;
}

.border-dark {
  background-color: #d5d5d5 !important;
}
.border-end-0 {
  border-right: 0;
}

/* Footer */
footer {
  background-color: var(--gray);
  color: #d5d5d5;
  padding-top: 2rem;
}

.footer-img{
  width: 70%;
  margin-top: 5%;
}

@media screen and (max-width: 700px){  
  .footer-img{
    width: 50%;
  }
}

.list-unstyled li{
  padding-top: 8%;
}

.list-unstyled li a {
  text-decoration: none;
  color: white;
}
.list-unstyled li a:hover {
  color: var(--green);
}

.list-inline-item img {
  width: 25%;
}

.col-lg-4 h6{
  color: white;
  font: 15px;
}

.bg-transparent {
  background-color: rgba(0, 0, 0, 0) !important;
}

.border-dark {
  background-color: #d5d5d5 !important;
}
.border-end-0 {
  border-right: 0;
}

.mc-field-group {
  padding-right: 30%;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  float: right;
  padding-bottom: 8px;
}

.datefield{
  float: right;
}

.button {
  font-family: "Poppins", sans-serif;
}
/* ----- */

