@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");

:root {
  --gray: #373737;
  --green: #35c12b;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  color: #222;
}

/* Navbar */
.navbar {
  background-color: var(--gray);
}

.navbar-nav li {
  padding-right: 20px;
  margin-left: 30px;
}

.navbar-nav li :hover {
  color: var(--green)
}

.nav-link {
  font-size: 1.1em;
  color: white;
}

.active {
  color: var(--green) !important;
}
/* ----- */


/* Image Slider */
.image-slide{
  position: absolute;
  top: 25%;
  margin-left: 22vw;
}
@media screen and (max-width: 700px){   
    .image-slide{      
        top: 13%
    } 
}
/* ----- */

/* Header Text */
.header {
  margin-top: 15px;
  font-weight: 600;
  color: var(--gray);
}

.subheader {
  padding-right: 25%;
  padding-left:25%;
  text-align: center;
  margin-bottom: -40%;
  margin-top: 20px;
  color: var(--gray);
}

@media screen and (max-width: 700px){   
  .header {
  margin-top: 15px;
  font-weight: 600;
  font-size: 135%;
}  
  .subheader{      
    font-size: 110%;
    margin-bottom: -15%;
    padding-right: 10%;
    padding-left: 10%;
  } 
}
/* ----- */


/* Boxes */
#box {
  background-color: var(--gray) !important;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.col-md {
  padding-top: 10%;
}

.card-text {
  font-size: 110%; 
}

.person {
  font-size: 110%; 
  color: var(--green);
}
/* ----- */

/* Specializing In Section */
.services
{
  background-color: #373737 !important;
}
#services
{
  background-color: #373737 !important;
  margin-bottom: 30px;
}

#services-title
{
  background-color: #373737 !important;
  margin-bottom: 20px !important;
  font-size: 40px !important;
}
#services img {
max-height: 200px;
max-width: 200px;
}

#services h3
{
  color: white;  
  padding-bottom: 15px;
}

.bottom-gap {
  margin-bottom: -30px !important;
}
/* ----- */


/* Footer */
footer {
  background-color: var(--gray);
  color: #d5d5d5;
  padding-top: 2rem;
}

.footer-img{
  width: 70%;
  margin-top: 5%;
}

@media screen and (max-width: 700px){  
  .footer-img{
    width: 50%;
  }
}

.list-unstyled li{
  padding-top: 8%;
}

.list-unstyled li a {
  text-decoration: none;
  color: white;
}
.list-unstyled li a:hover {
  color: var(--green);
}

.list-inline-item img {
  width: 25%;
}

.col-lg-4 h6{
  color: white;
  font: 15px;
}

.bg-transparent {
  background-color: rgba(0, 0, 0, 0) !important;
}

.border-dark {
  background-color: #d5d5d5 !important;
}
.border-end-0 {
  border-right: 0;
}

.mc-field-group {
  padding-right: 30%;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  float: right;
  padding-bottom: 8px;
}

.datefield{
  float: right;
}

.button {
  font-family: "Poppins", sans-serif;
}
/* ----- */