:root {
  --font_header: "Poppins", sans-serif;
  --font_header_weight: 600;
  --font_header_size: 18px;
  --green: #35c12b;
  --gray: #373737;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

/* Nav */

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--gray);
  position: fixed;
  z-index: 1;
  width: 100vw;
}

nav li {
  float: left;
  padding-left: 25px;
}

nav li a {
  display: block;
  padding: 14px 16px;
  text-decoration: none;
  color: white;
  font-family: var(--font_header);
  font-weight: var(--font_header_weight);
  font-size: var(--font_header_size);
}

.text {
  margin-top: 2vh;
}

nav li a:hover:not(.active) {
  color: var(--green);
}

.active {
  color: var(--green);
}

nav img {
  background-position: 50% 50%;
  background-size: cover;
  height: 60px;
}

.search-container {
  float: right;
}

nav input[type="text"] {
  padding: 11px;
  margin-top: 27px;
  font-size: 15px;
  border: none;
}

.search-container button {
  float: right;
  padding: 6.5px 10px;
  margin-top: 27px;
  margin-right: 35px;
  background: var(--gray);
  color: white;
  font-size: 17px;
  border: none;
  cursor: pointer;
  font-family: var(--font_header);
  font-weight: var(--font_header_weight);
  font-size: var(--font_header_size);
}

.search-container button:hover {
  color: var(--green);
}

/* Landing Image */

.landing {
  position: relative;
  top: 0;
  left: 0;
}

.bg {
  position: relative;
  width: 100%;
  height: 100vh;
}

.logo {
  position: absolute;
  top: 15vw;
  left: 25vw;
  width: 45vw;
}

/* Intro Part */
.intro {
  height: 55vh;
}

.right {
  float: right;
  margin-right: -85%;
  margin-top: 4%;
}

.left {
  padding-left: 5vw;
  padding-right: 50vw;
  margin-top: 4%;
}

.left h1 {
  font-family: var(--font_header);
  color: var(--gray);
  font-weight: 700;
  font-size: 48px;
}

.left h2 {
  font-family: var(--font_header);
  color: var(--green);
  font-weight: 500;
  margin-top: -35px;
  font-size: 30px;
}

.left p {
  font-family: var(--font_header);
  font-weight: 400;
  color: var(--gray);
  margin-top: -15px;
  font-size: 25px;
  margin-right: 10%;
}

/* Testimonials */

.testimonials {
  height: 40vh;
}

.column {
  float: left;
  width: 33.33%;
  height: auto;
  text-align: center;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.box {
  background-color: var(--green);
  border-radius: 40px;
  height: 15vw;
  width: 15vw;
  margin-left: 10vw;
}

.box p {
  font-family: var(--font_header);
  color: var(--gray);
  font-size: 25px;
  padding-top: 17px;
}

/* Specializing In Section Grid */

.specializing {
  height: 32vw;
}

.specializing h1 {
  font-family: var(--font_header);
  color: white;
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  background-color: var(--gray);
  padding: 20px;
  margin-bottom: -10px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: var(--gray);
  padding: 10px;
}
.grid-item {
  background-color: var(--gray);
  font-family: var(--font_header);
  font-weight: 500;
  font-size: 28px;
  text-align: center;
  color: white;
  padding-bottom: 30px;
}

.bottom {
  border-top: 2.5px solid white;
  margin-bottom: 80px;
  padding-top: 30px;
}

.middle {
  border-right: 2.5px solid white;
  border-left: 2.5px solid white;
}
.grid-item img {
  height: 8vw;
  padding-bottom: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Map Section */

.map {
  height: 45vw;
}

.map h1 {
  font-family: var(--font_header);
  font-weight: 700;
  font-size: 60px;
  text-align: center;
  padding-top: 20px;
}

.map h2 {
  font-family: var(--font_header);
  font-style: italic;
  font-weight: 500;
  font-size: 30px;
  text-align: center;
  margin-top: -50px;
}

.map iframe {
  width: 100vw;
  height: 37vw;
}

/* Footer Section */

.container {
  display: grid;
  grid-template-columns: 20% 15% 25% 10% 25%;
  background-color: var(--gray);
  height: 70%;
}

.item {
  background-color: var(--gray);
  color: white;
  font-size: 30px;
  text-align: center;
}

/* One */

#one img {
  height: 7vw;
  display: block;
  margin-left: 25px;
  margin-right: auto;
}

#one {
  margin-top: 45px;
  padding-left: 10px;
  margin-bottom: 45px;
  border-right: 2.5px solid white;
  padding-top: 25px;
}

/* Two */

#two {
  border-right: 2.5px solid white;
  margin-top: 45px;
  margin-bottom: 45px;
  padding-right: 30px;
}

#two ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  text-align: justify;
  font-family: var(--font_header);
  font-size: 18px;
  font-weight: var(--font_header_weight);
}

#two li {
  padding-top: 15px;
}

#two a {
  text-decoration: none;
  color: white;
}

#two li a:hover:not(.active) {
  color: var(--green);
}

#two .active {
  color: var(--green);
}

/* Three */

#three {
  text-align: left;
  margin-top: 45px;
  margin-left: 30px;
  margin-bottom: 45px;
  padding-top: 40px;
  border-right: 2.5px solid white;
}

#three h2 {
  font-family: var(--font_header);
  font-weight: var(--font_header_weight);
  font-size: 22px;
  margin-bottom: 0;
}

#three input[type="text"] {
  padding: 11px;
  font-size: 15px;
  padding-right: 150px;
  border: none;
}

#three button {
  padding: 6.5px 10px;
  background: var(--gray);
  color: white;
  font-size: 17px;
  border: none;
  cursor: pointer;
  font-family: var(--font_header);
  font-weight: var(--font_header_weight);
  font-size: var(--font_header_size);
  margin-right: 0;
}

#three button:hover {
  color: var(--green);
}

/* Four */

#four {
  border-right: 2.5px solid white;
  margin-top: 45px;
  margin-bottom: 45px;
}

#four img {
  margin-top: 15px;
  height: 3.5vw;
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Five */

#five {
  margin-top: 45px;
  margin-bottom: 45px;
}

#five h2 {
  font-family: var(--font_header);
  font-weight: var(--font_header_weight);
  font-size: 16px;
  text-align: right;
  margin-top: 75px;
}
